
/* palette definition */
:root {
    --darkblue: #213F85;
    --blue: #365194;
    --brown: #C2AA7E;
    --lightyellow: #F5F5DD;
    --yellow: #F0EAD2;
    --azzurro: #ADD8E8;
    --fullwidth: 100%;
  }