.left-wrapper {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid;
    border-color: var(--yellow);
    border-radius: 19px;
    height: calc(100vh - 162px - 3px - 42px);
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

.left-wrapper::-webkit-scrollbar {
    width: 0px;
}
