.logo {
    align-items: center;
    justify-content: center;
    font-family: 'Jaldi';
    font-size: 96px;
    text-align: center;
    height: 162px;
}

.color-gradient {
    background-image: linear-gradient(to right, #213F85, #ADD8E8, #F0EAD2)
}

.h-line {
    height: 3px;
    width: 100%;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, var(--lightyellow), var(--yellow), var(--brown), var(--darkblue), var(--blue), var(--azzurro));
}

.left-wrapper {
    width: 33%;
    float: left;
    border: 2px solid;
    border-color: #f0ead2;
    border-radius: 19px;
    height: calc(100vh - 162px - 3px - 42px);
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.list {
    overflow-y: scroll;
    height: 100%;
}

.right-wrapper {
    width: 65%;
    float: right;
    height: calc(100vh - 162px - 3px - 32px);
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
}

.list::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 100px;
    overflow: hidden;
}
