.right-wrapper {
    width: 100%;;
    box-sizing: border-box;
    height: calc(100vh - 162px - 3px - 42px);
    border: 2px solid;
    border-color: var(--yellow);
    border-radius: 19px;
}

.save-button-disabled {
    float: right;
    margin: 8px;
    background-color: lightgray;
    border-color: darkgray;
    color: darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-right: 25px;
    border-radius: 12px;
    border: 2px solid;
    padding-right: 5px;
    padding-left: 5px;
    cursor: not-allowed;
}

.save-button-enabled {
    float: right;
    margin: 8px;
    background-color: var(--azzurro);
    border-color: var(--darkblue);
    color: var(--blue);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-right: 25px;
    border-radius: 12px;
    border: 2px solid;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.monaco {
    height: 94%;
    margin: 5px;
    position: relative;
}

.notification {
    float: left;
    width: 80%;
    margin: 8px;
    border-radius: 12px;
    padding-right: 5px;
    padding-left: 5px;
    
}
