
<jqxNotification #jqxNotification 
[template]="'info'" 
[autoClose]="true" 
[appendContainer]="'#notificationContainer'"
[opacity]="0.8"
[width]="'100%'"
[autoCloseDelay]="4000">
<div>
  <div #notificationContent></div>
</div>
</jqxNotification>

<div class="column right-wrapper" id="editorContainer">
  <div class="monaco" #monacoDivTag></div>
    <div 
      class="save-button-disabled" 
      (click)="onSave()" 
      [ngClass]="{'save-button-enabled': isSaveButtonEnabled}">
        Save
    </div>
  <div class="notification" id="notificationContainer"></div>
</div>
