<div class="list-item" (click)="onClick()">

    <div class="row" style="display: flex;">
        <div class="column" style="margin-left: 10px;">
            <p>
                simple200response
            </p>
        </div>
        <div class="column" style="flex: content;width: fit-content;">
            <div class="button-icon-wrapper" style="float: right;margin: 5px" (click)="deleteItem()">
                <div class="material-icons" style="color : #C2AA7E;">delete_outline</div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 20px;">
        <p>
            URL: `simple200response`
        </p>
    </div>
    <div class="row" style="margin-left: 20px;">
        <p>
            METHODS: GET, POST, PATCH, DELETE
        </p>
    </div>
</div>